.header-container{
  justify-content: center;
  align-items: center;
}


.league-title{
  display: flex;
  justify-content: center;
  
}

.week-selector{
  display: flex;
  justify-content: center;
  position:relative;
  bottom:35px;
}



.grid-container{
  background-color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#root{
  height:1920px;
  width: 1080px;
  border: 1px black solid;
  background: #191970;
}

.app{
HEIGHT:100%;
WIDTH:100%;
font-family: 'Montserrat', sans-serif;
}

.player-wrapper{
  width:50%;
  position:relative;
  height:0;
  padding-top:50%;
}

.player-stats-wrapper{
  position:absolute;
  text-align: center;
  font-size: 2.5vw;
}


.card-art-background{
  width:100%;
  height:100%;  
  object-fit: cover;
}

.player-inner{
  position:absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
}